* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* --primary-color: rgb(159, 159, 236);
  --secondary-color: #fff;
  --third-color: rgb(180, 180, 238); */

  --primary-color: rgb(77, 228, 228);
  --secondary-color: rgb(0, 0, 0);
  --third-color: rgb(171, 233, 233);
  --button-primary-color: rgb(255, 220, 21);
  --button-secondary-color: rgb(240, 209, 142);
  --white-color: #fff;
  --gray-color: rgb(171, 233, 233);
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--white-color);
}